$cWhite: white;
$cBlack: black;
$cSubTitle: #53535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$sdiv: #08BDFF;
$mdiv: #47FF2F;
$wdiv: #FF58D9;

$Au: 'Audiowide';
$Sw: 'Sawarabi Mincho';
$Sg: 'Sawarabi Gothic';
$contentMaxWidth: 1070px;
$navHeight: 100px;