@charset "UTF-8";
.appear.up .item {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.appear.down .item {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.appear.left .item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear.right .item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
}

.btn.float:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn.filled {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn.filled:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.letter-spacing:hover {
  background-color: black;
  letter-spacing: 3px;
  color: white;
}

.btn.shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.shadow:hover {
  -webkit-transform: translate(-2.5px, -2.5px);
          transform: translate(-2.5px, -2.5px);
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
}

.btn.solid {
  -webkit-box-shadow: 2px 2px 0 0 black;
          box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
}

.btn.solid:hover {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.slide-bg::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn.slide-bg:hover {
  color: white;
}

.btn.slide-bg:hover::before {
  -webkit-transform: none;
          transform: none;
}

.btn.cover-3d {
  position: relative;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.btn.cover-3d::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  z-index: -1;
  opacity: 0;
}

.btn.cover-3d:hover {
  color: white;
}

.btn.cover-3d:hover::before {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.btn-cubic {
  position: relative;
  display: inline-block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
}

.btn-cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  line-height: 48px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: center center -25px;
          transform-origin: center center -25px;
}

.btn-cubic .hovering {
  background-color: black;
  color: white;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.btn-cubic .default {
  background-color: white;
  color: black;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn-cubic:hover .hovering {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn-cubic:hover .default {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.swiper-container {
  overflow: visible !important;
}

.swiper-slide {
  height: 500px;
  overflow: hidden;
}

.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 1.9s ease;
  transition: -webkit-transform 1.9s ease;
  transition: transform 1.9s ease;
  transition: transform 1.9s ease, -webkit-transform 1.9s ease;
}

.swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}

.swiper-slide-active > img {
  -webkit-transform: none;
          transform: none;
}

.swiper-slide-active .hero__title {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero {
  overflow: hidden;
  padding-top: 100px;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 20px));
          transform: translate(-50%, calc(-50% + 20px));
  color: white;
  font-size: 25px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 1s, -webkit-transform 0.3s ease 1s;
  transition: opacity 0.3s ease 1s, -webkit-transform 0.3s ease 1s;
  transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
  transition: opacity 0.3s ease 1s, transform 0.3s ease 1s, -webkit-transform 0.3s ease 1s;
}

.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  height: 68px;
  width: 22px;
  overflow: hidden;
}

.hero__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  -webkit-animation-name: kf-arrow-anime;
          animation-name: kf-arrow-anime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hero__scrolltext {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.7);
  left: -8px;
  top: 11px;
  font-size: 1.2em;
}

@-webkit-keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

.animationTarget {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: 1s;
  transition: 1s;
}

.animationTarget.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.animationTarget.sponsor-logo a img {
  -webkit-transition: 1s .5s;
  transition: 1s .5s;
}

@-webkit-keyframes showTextFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes showTextFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes showText {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes showText {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
  }
}

.textAnimation span {
  display: inline-block;
  -webkit-animation: showText .5s backwards;
          animation: showText .5s backwards;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebe6;
  opacity: 0;
}

.cover-slide.inview::after {
  opacity: 1;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.img-zoom, .bg-img-zoom {
  opacity: 0;
}

.inview .img-zoom, .inview .bg-img-zoom {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: normal;
          animation-fill-mode: normal;
}

.inview .img-zoom:hover, .inview .bg-img-zoom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  pointer-events: none;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: normal;
          animation-fill-mode: normal;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-img-zoom {
  background-image: url(images/image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.img-bg50 {
  position: relative;
}

.img-bg50::before {
  display: block;
  content: '';
  padding-top: 50%;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 100;
}

.mobile-menu__btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
  z-index: 20;
}

.mobile-menu__btn > span {
  background-color: #e98c00;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-inner {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background: rgba(0, 8, 90, 0.8);
  z-index: 19;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.mobile-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  top: 50px;
  right: 15px;
}

.mobile-nav-list li {
  margin-bottom: 5px;
}

.mobile-nav-list a {
  display: inline-block;
  font-size: 2rem;
  color: #ff0000;
  background: -webkit-linear-gradient(0deg, #ff1100, #9A1D1D, #ff1100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-sns-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 300px;
  margin-top: 60px;
}

.mobile-sns-icon a {
  display: inline-block;
  margin: 10px;
}

.mobile-sns-icon a .sns-item {
  width: 80px;
}

.mobile-sns-icon a .item {
  width: 100%;
}

.menu-open .mobile-inner {
  top: 0;
  right: 0px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.menu-open .mobile-menu__cover {
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-menu__btn > span {
  background-color: #e98c00;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Audiowide","Sawarabi Mincho", 'PT Serif', "Kameron", "Noto Sans JP", sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, from(#00085a), color-stop(#4790e9), to(#00085a));
  background-image: linear-gradient(to right, #00085a, #4790e9, #00085a);
  padding: 0;
  margin: 0;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-fmA {
  font-family: "Audiowide";
}

.font-fmS {
  font-family: "Sawarabi Mincho";
}

.font-fmSg {
  font-family: "Sawarabi Gothic";
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 30px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg, .hero {
  padding-bottom: 80px !important;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.loading img {
  width: 50px;
}

.loading.active {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes flashing {
  50% {
    opacity: .5;
  }
}

@keyframes flashing {
  50% {
    opacity: .5;
  }
}

@-webkit-keyframes roolling {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes roolling {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loadingText {
  -webkit-animation: flashing .5s infinite;
          animation: flashing .5s infinite;
  color: #2141f5;
}

.loadingball {
  -webkit-animation: roolling 1s ease-in-out infinite;
          animation: roolling 1s ease-in-out infinite;
}

.header-top {
  position: fixed;
  height: 90px;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 8, 90, 0.5);
}

.header-logo-ttl {
  position: absolute;
  top: 25px;
  left: 10px;
  font-size: 0.58rem;
  display: inline-block;
  z-index: 2;
  color: #cc9123;
}

.header-chara {
  display: none;
}

.header-chara img {
  width: 50px;
  position: absolute;
  top: 10px;
  right: 300px;
  z-index: 1;
}

.header-nav {
  display: none;
  background: rbga(0, 12, 75, 0.8);
  border-top: 1px solid #001FC9;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header-nav-list a {
  font-size: 1.8rem;
  display: inline-block;
  color: #ff0000;
  background: -webkit-linear-gradient(0deg, #ff1100, #9A1D1D, #ff1100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ball {
  display: none;
}

.ball.nav_fixed {
  width: 70px;
  position: absolute;
  left: 100px;
  top: 7px;
  display: inline-block;
}

.sns-icon {
  position: absolute;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 10px;
  right: 40px;
  width: 200px;
  padding-top: 5px;
}

.sns-icon a {
  opacity: 0.8;
}

.sns-item {
  width: 40px;
  margin: 0 5px 10px;
}

main {
  padding-top: 90px;
}

.main-slider-pc {
  width: 100%;
  display: none;
}

.main-slider-sp {
  width: 100%;
}

.bc {
  text-align: center;
}

.bc-text {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.2;
  font-size: 1.8rem;
  z-index: -1;
}

.kv {
  width: 100%;
  margin-top: 10px;
}

.section-inner {
  padding-top: 90px;
}

.section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-title {
  background: -webkit-linear-gradient(0deg, #ff1100, #9A1D1D, #ff1100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
}

.section-subttl {
  color: white;
  font-size: 1rem;
}

.section-text p {
  color: white;
  font-size: 0.9rem;
}

.section-adress {
  color: white;
  line-height: 30px;
}

.section-adress h3 {
  font-size: 1rem;
}

.section-adress p {
  font-size: 0.8rem;
  line-height: 25px;
}

#Schedule .section-subttl {
  color: #fff;
}

.section-subttl.sdiv {
  color: #08BDFF;
}

.section-subttl.mdiv {
  color: #47FF2F;
}

.section-subttl.wdiv {
  color: #FF58D9;
}

.movie-text {
  color: white;
  font-size: 0.7rem;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.youtube {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.youtube iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 80%;
  position: relative;
}

.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#Sponsor {
  background: #fff;
  margin-top: 30px;
  padding-top: 20px;
}

.sponsor-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sponsor-logo a {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.sponsor-logo a:nth-child(4) {
  width: 180px;
}

.sponsor-logo a:nth-child(5) {
  width: 180px;
}

.sponsor-logo a:nth-child(7) {
  width: 250px;
  margin-bottom: 50px;
}

.sponsor-item {
  width: 100%;
  margin-top: 60px;
}

footer {
  height: 60px;
}

footer .inner {
  text-align: center;
}

footer small {
  color: white;
  font-size: 0.7rem;
  font-family: 'PT Serif';
  line-height: 60px;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .mobile-menu__btn {
    display: none;
  }
  .header-inner {
    height: 180px;
  }
  .header-top {
    display: inline-block;
    position: absolute;
    height: 120px;
    background: none;
    z-index: 20;
    background: rgba(0, 8, 90, 0.5);
  }
  .header-logo-ttl {
    font-size: 0.7rem;
    top: 30px;
    left: 20px;
  }
  .header-chara {
    display: block;
  }
  .header-chara img {
    width: 60px;
    top: 20px;
    right: 255px;
  }
  .header-nav {
    position: absolute;
    top: 120px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    z-index: 20;
    background-color: rgba(0, 8, 90, 0.5);
  }
  .header-nav.nav_fixed {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: none;
    border-bottom: none;
    width: 100%;
  }
  .header-nav-list a {
    font-size: 1.3rem;
  }
  .sns-icon {
    top: 10px;
    right: 20px;
    display: inline-block;
    width: 220px;
    z-index: 20;
  }
  main {
    padding-top: 0;
  }
  .main-slider-pc {
    display: block;
  }
  .main-slider-sp {
    display: none;
  }
  .bc {
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .bc-text {
    top: 50%;
    font-size: 3rem;
  }
  .bc.bg-active {
    opacity: 1;
  }
  .kv {
    width: 100%;
    margin-top: 10px;
  }
  .section-inner {
    padding-top: 90px;
  }
  .section-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-info-left {
    width: 48%;
  }
  .section-info-right {
    width: 48%;
  }
  .section-info.schedule {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-info.schedule .section-info-left {
    width: 100%;
  }
  .section-title {
    font-size: 2.5rem;
  }
  .section-subttl {
    font-size: 1.1rem;
  }
  .section-subttl.stadium {
    font-size: 1.8rem;
  }
  .section-adress {
    color: white;
    line-height: 30px;
  }
  .section-adress h3 {
    font-size: 1.2rem;
  }
  .section-adress p {
    font-size: 0.9rem;
  }
  .section-subttl.sdiv {
    font-size: 1.8rem;
  }
  .section-subttl.mdiv {
    font-size: 1.8rem;
  }
  .section-subttl.wdiv {
    font-size: 1.8rem;
  }
  #Sponsor {
    background: #fff;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .sponsor-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sponsor-logo a {
    display: block;
    width: 150px;
    margin: 0 20px;
  }
  .sponsor-logo a:nth-child(4) {
    width: 100px;
  }
  .sponsor-logo a:nth-child(5) {
    width: 100px;
  }
  .sponsor-logo a:nth-child(7) {
    width: 120px;
    margin-bottom: 0px;
  }
  .sponsor-item {
    width: 100%;
    margin-top: 30px;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg, .hero {
    padding-bottom: 150px !important;
  }
  .inner {
    width: 85%;
    margin: 0 auto;
  }
  .header-logo-ttl {
    font-size: 1.1rem;
    top: 20px;
    left: 30px;
  }
  .header-nav-list a {
    font-size: 1.7rem;
  }
  .bc-text {
    top: 50%;
    font-size: 3.8rem;
  }
  .sponsor-logo a {
    display: block;
    width: 280px;
    margin: 0 30px;
  }
  .sponsor-logo a:nth-child(4) {
    width: 140px;
  }
  .sponsor-logo a:nth-child(5) {
    width: 140px;
  }
  .sponsor-logo a:nth-child(7) {
    width: 180px;
    margin-bottom: 0px;
  }
  .sponsor-item {
    width: 100%;
    margin-top: 30px;
  }
  .section-title {
    font-size: 3rem;
  }
  .section-subttl {
    font-size: 1.4rem;
  }
  .section-subttl.stadium {
    font-size: 2rem;
  }
  .section-text p {
    font-size: 1.2rem;
  }
  .section-adress {
    color: white;
    line-height: 30px;
  }
  .section-adress h4 {
    font-size: 1.6rem;
    margin-bottom: 5px;
    line-height: 40px;
  }
  .section-adress p {
    font-size: 1.1rem;
    line-height: 32px;
  }
  .section-subttl.sdiv {
    font-size: 2rem;
  }
  .section-subttl.mdiv {
    font-size: 2rem;
  }
  .section-subttl.wdiv {
    font-size: 2rem;
  }
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .header-logo-ttl {
    font-size: 1.2rem;
    top: 13px;
    left: 50px;
  }
  .header-chara img {
    right: 350px;
  }
  .header-nav-list a {
    font-size: 2rem;
  }
  .header-nav-list a:hover {
    font-size: 2.2rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .bc-text {
    top: 50%;
    font-size: 4rem;
  }
  .sponsor-logo a {
    display: block;
    width: 300px;
    margin: 0 30px;
  }
  .sponsor-item {
    width: 100%;
    margin-top: 30px;
  }
  .sns-icon {
    right: 110px;
  }
  .sns-icon a:hover {
    opacity: 1;
  }
  .section-title {
    font-size: 3rem;
  }
  .section-subttl {
    font-size: 1.4rem;
  }
  .section-subttl.stadium {
    font-size: 2rem;
  }
  .section-text p {
    font-size: 1.6rem;
  }
  .section-adress {
    color: white;
    line-height: 30px;
  }
  .section-adress h4 {
    font-size: 1.6rem;
    margin-bottom: 5px;
    line-height: 40px;
  }
  .section-adress p {
    font-size: 1.5rem;
    line-height: 35px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}


*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */