/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

.mobile-menu {
    &__btn {
        display: none;
    }
}

.header{
    &-inner{
        height: 180px;
        
    }
    &-top{
        display: inline-block;
        position: fixed;
        height: 120px;
        background: none;
        z-index: 20;
        background: rgba(0, 8, 90, 0.5);
    }
    &-logo{
        &-ttl{
            font-size: 1.3rem;
            top: 30px;
            left: 20px;
        }
    }
    &-chara{
        display: block;
        

        img{
            width: 60px;
            top: 20px;
            right: 255px;
        }
    }

    &-nav{
        position: fixed;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        z-index: 20;
        background-color: rgba(0, 8, 90, 0.5);

        &-list{

            a{
                font-size: 1.3rem;
            }
        }
    }
}

.sns{
    &-icon{
        position: fixed;
        top: 10px;
        right: 20px;
        display: inline-block;
        width: 220px;
        z-index: 20;
    }
}

main{
    padding-top: 0;
}
.main{

    &-slider{
        
        &-pc{
            display: block;
        }
        &-sp{
            display: none;
        }
    }
}

.bc{
    &-text{
        top: 40%;
        font-size: 3rem;
    }
}

.kv{
    width: 100%;
    margin-top: 10px;
  }
  
  .section{
    &-inner{
      padding-top: 90px;
    }
  
    &-info{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      &-left{
          width: 48%;
      }
      &-right{
          width: 48%;
      }
    }
  
    &-title{
      font-size: 2.5rem;
    }
  
    &-subttl{
        font-size: 1.1rem;
    }
  
  
    &-adress{
      color: $cWhite;
      line-height: 30px;
      h3{
        font-size: 1.2rem;
      }
      p{
        font-size: 0.9rem;
      }
    }
  }