/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
    font-family: "Audiowide","Sawarabi Mincho", 'PT Serif', "Kameron", "Noto Sans JP", sans-serif;
    // background: rgb(1, 18, 105);
    background-image:linear-gradient( to right, rgb(0, 8, 90), rgb(71, 144, 233),rgb(0, 8, 90));
    padding: 0;
    margin: 0;
    height: auto;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
  }
  ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  img {
    max-width: 100%;
    vertical-align: bottom;
  }
  .font-fmA {
    font-family: $Au;
  }
  .font-fmS {
    font-family: $Sw;
  }
  .font-fmSg{
    font-family: $Sg;
  }
  .font-sm {
    font-size: 14px;
  }
  .font-md {
    font-size: 17px;
  }
  .font-lr {
    font-size: 17px;
  }
  .font-lg {
    font-size: 25px;
  }
  .mb-sm {
    margin-bottom: 30px !important;
  }
  .mb-lg {
    margin-bottom: 80px !important;
  }
  .mt{
    margin-top: 30px !important;
  }
  .pb-sm {
    padding-bottom: 16px !important;
  }
  .pb-lg {
    padding-bottom: 80px !important;
  }
  .inner{
    width: 90%;
    margin: 0 auto;
  }

  .loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

.loading{
  img{
    width: 50px;
  }
}

  .loading.active{
    opacity: 1;
    visibility: visible;
  }
  @keyframes flashing{
    50%{
      opacity: .5;
    }
  }
  @keyframes roolling{
    0%{
      transform: rotate(0);
    }
    
    100%{
      transform: rotate(360deg);
    }
  }

  .loadingText{
    animation: flashing .5s infinite;
    color: rgb(33, 65, 245);
  }
  .loadingball{
    animation: roolling 1s ease-in-out infinite;
  }

// #global-container{
//   opacity: 0;
//   visibility: hidden;
//   transition: 3s;
//   z-index: 30;
  
//   &.active{
//     opacity: 1;
//     visibility: visible;
//   }  
// }

  
//headerここから
.header{
  &-top{
    position: fixed;
    height: 90px;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 8, 90, 0.5);
  }
  &-logo{
    &-ttl{
      position: absolute;
      top: 25px;
      left: 10px;
      font-size: 0.58rem;
      display: inline-block;
      z-index: 2;
      // color: $cWhite;
      color: rgb(204, 145, 35);
      // background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
  }

  &-chara{
    display: none;
    img{
      width: 50px;
      // height: 140px;
      position: absolute;
      top: 10px;
      right: 300px;
      z-index: 1;
    }
  }

  &-nav{
    display: none;
    background: rbga(0, 12, 75, 0.8);
    border-top: 1px solid #001FC9;
    // border-bottom: 1px solid #001FC9;

      

      &-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      a{
        font-size: 1.8rem;
        display: inline-block;
        color: #ff0000;
        background: -webkit-linear-gradient(0deg, #ff1100, #9A1D1D, #ff1100);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s;
        
        // &:hover{
        //   // color: blue;
          
        //   font-size: 2rem;
        //   transition: all 0.3s;
        // }
      }
    }
  }
}

.ball{
  display: none;
    &.nav_fixed{
      width: 70px;
      position: absolute;
      left: 100px;
      top: 7px;
      display: inline-block;
    } 
}

.sns{
  
    &-icon{
      position: absolute;
      display: none;
      flex-wrap: wrap;
      top: 10px;
      right: 40px;
      width: 200px;
      padding-top: 5px;
      

      & a{
        opacity: 0.8;
        

      }
    }
    &-item{
      width: 40px;
      margin: 0 5px 10px;
    }
  
}
//headerここまで

//mainここから
main{
  padding-top: 90px;
  
}
.main{
  
  &-slider{
    &-pc{
      width: 100%;
      display: none;
    }
    &-sp{
      width: 100%;
    }
    
  }
}
.bc{
  text-align: center;
  &-text{
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DA8E00;
    background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.2;
    font-size: 1.8rem;
    z-index: -1;
  }
}
.kv{
  width: 100%;
  margin-top: 10px;
}

.pc{
  display: none;
}
.section{
  &-inner{
    padding-top: 90px;
  }

  &-info{
    display: flex;
    flex-direction: column;
    
  }

  &-title{
    // color: #9A1D1D;
    background: -webkit-linear-gradient(0deg, #ff1100, #9A1D1D, #ff1100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
  }

  &-subttl{
    color: white;
      font-size: 1rem;
  }

  &-text{
    p{
      color: white;
      font-size: 0.9rem;
    }
  }

  &-adress{
    color: $cWhite;
    line-height: 30px;
    h3{
      font-size: 1rem;
    }
    p{
      font-size: 0.8rem;
      line-height: 25px;
    }
  }
}

#Schedule .section-subttl{
  color: #fff;
}

.section-subttl.sdiv{
  color: #08BDFF;
  // background: -webkit-linear-gradient(0deg, #08BDFF, #013057, #00bbff);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}
.section-subttl.mdiv{
  color: #47FF2F;
}
.section-subttl.wdiv{
  color: #FF58D9;
}

.movie{
  &-text{
  color: $cWhite;
  font-size: 0.7rem;
  padding: 10px 5px;
  margin-bottom: 10px;
  }
}

.youtube{
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe{
    position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
  }
}

.gmap{
  height: 0;
  overflow: hidden;
  padding-bottom: 80%;
  position: relative;

    iframe{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

}

#Sponsor{
  background: #fff;
  margin-top: 30px;
  padding-top: 20px;
  
}

.sponsor{
  &-logo{
    display: flex;
    flex-direction: column;
    a{
      display: block;
      width: 300px;
      margin: 0 auto;
      

      // &:nth-child(1){
      //   align-self: center;
      // }
      &:nth-child(4){
        width: 180px;
      }
      // &:nth-child(3){
      //   align-self: center;
      // }
      // &:nth-child(4){
      //   align-self: center;
      // }
      &:nth-child(5){
        width: 180px;
      }
      &:nth-child(7){
        width: 250px;
        margin-bottom: 50px;
      }
    }
  }
  &-item{
    width: 100%;
    margin-top: 60px;

  }
}

footer{
  height: 60px;

  & .inner{
    text-align: center;
  }

  & small{
    color: white;
    font-size: 0.7rem;
    font-family: 'PT Serif';
    line-height: 60px;
  }
}
